.addHeroContainer {
    display: flex;
    flex-direction: column;
    font-family: 'VALORANT Regular';
    height: 500px;
    width: 45%;
    background-color: #ff4255;
    border-radius: 20px;
}

.addHeroHeaderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addHeroBackButton {
    background-color: #ff4255;
    color: black;
    margin-left: 24px;
    margin-right: auto;
    margin-top: 24px;
    border-radius: 20px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    border: 2px solid black;
}

a.addHeroBackButton:hover, a.addHeroBackButton:focus {
    height: 48px;
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

.addHeroHeader {
    width: 100%;
}

.heroNameInput {
    color: black;
    /* z-index: 1; */
}

.heroNameLabel {
    margin-top: 24px;
    margin-bottom: 8px;
}

.heroImageLabel {
    margin-top: 24px;
    margin-bottom: 8px;
}

.heroFileInput {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 24px;
}

.addHeroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}