.addTipsContainer {
    display: flex;
    flex-direction: column;
    font-family: 'VALORANT Regular';
    width: 45%;
    background-color: #ff4255;
    border-radius: 20px;
    padding-bottom: 24px;
}

.addTipsHeaderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addTipsBackButton {
    background-color: #ff4255;
    color: black;
    margin-left: 24px;
    margin-right: auto;
    margin-top: 24px;
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    border: 2px solid black;
}

a.addTipsBackButton:hover, a.addTipsBackButton:focus {
    height: 48px;
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

.addTipsHeader {
    width: 100%;
}

.tipsLabel {
    margin-top: 24px;
    margin-bottom: 8px;
}

.tipsInputContainer {
    display: flex;
    flex-direction: column;
}

.tipsInput {
    color: black;
}

.addtipsButton {
    background-color: #ff4255;
    color: black;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    border: 2px solid black;
}

button.addtipsButton:hover, button.addtipsButton:focus {
    height: 48px;
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

.tipFileInput {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 24px;
    padding-left: 36px;
}