.adminPanelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff4255;
    border-radius: 20px;
    width: 35%;
    font-family: 'VALORANT Regular';
}

.adminPanelButtonsContainer {
    margin-bottom: 24px;
}

.adminPanelButtons {
    margin-top: 14px;
    margin-bottom: 10px;
    background-color: #0F1825;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
}

a.adminPanelButtonLinks:hover, a.adminPanelButtonLinks:focus {
    text-decoration: none;
}

.adminPanelHeaderContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.adminPanelBackButton {
    font-family: 'VALORANT Regular';
    background-color: #ff4255;
    color: black;
    border-radius: 20px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: auto;
    height: 48px;
    border: 2px solid black;
}

a.adminPanelBackButton:hover, a.adminPanelBackButton:focus {
    height: 48px;
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

.adminPanelHeader {
    margin-top: 24px;
    width: 100%;
}