@font-face {
    font-family: 'VALORANT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('../assets/Valorant Font.woff') format('woff');
}

.heroSelectContainer {
    background-color: #ff4255;
    width: 1200px;
    color: black;
    border-radius: 20px;
    padding-bottom: 64px;
}

.heroCardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.heroCard {
    flex: 1;
    height: 228px;
    width: 150px;
    background-color: #0F1825;
    /* background-color: #ff4255; */
    margin-left: 10x;
    margin-right: 10px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover, a:focus {
    height: 250px;
    /* background-color: #F5F7FB; */
}

.heroSelectHeader {
    color: white;
    font-family: 'VALORANT Regular';
    margin-top: 24px;
}

.heroHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* All the hero cards */

#sage {
    background-image: url('../assets/sage.png');
}

#breach {
    background-image: url('../assets/breach.png');
}

#brimstone {
    background-image: url('../assets/brimstone.png');
}

#cypher {
    background-image: url('../assets/cypher.png');
}

#jett {
    background-image: url('../assets/jett.png');
}

#omen {
    background-image: url('../assets/omen.png');
}

#phoenix {
    background-image: url('../assets/phoenix.png');
}

#raze {
    background-image: url('../assets/raze.png');
}

#reyna {
    background-image: url('../assets/reyna.png');
}

#sova {
    background-image: url('../assets/sova.png');
}

/* #viper {
    background-image: url('../asset/viper.png');
} */