@font-face {
    font-family: 'VALORANT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('../assets/Valorant Font.woff') format('woff');
}

.mapSelectContainer {
    background-color: #ff4255;
    width: 1200px;
    color: black;
    border-radius: 20px;
    padding-bottom: 36px;
}

.mapSelectHeader {
    color: white;
    font-family: 'VALORANT Regular';
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 156px;
}

.mapCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapCard {
    /* height: 360px; */
    height: 400px;
    width: 22%;
    background-color: #0F1825;
    flex-wrap: wrap;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 10px;
}

a.mapCard:hover, a.mapCard:hover {
    /* height: 450px; */
    text-decoration: none;
}

.mapName {
    color: white;
    font-family: 'VALORANT Regular';
    margin-top: 65%;
}

.mapHeaderContainer {
    display: flex;
}

.mapBackButton {
    font-family: 'VALORANT Regular';
    background-color: #ff4255;
    color: black;
    margin-left: 40px;
    margin-top: 24px;
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    border: 2px solid black;
}

a.mapBackButton:hover, a.mapBackButton:focus {
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

/* Add all the maps */

#ascent {
    background-image: url('../assets/ascent.png');
}

#bind {
    background-image: url('../assets/bind.png');
}

#haven {
    background-image: url('../assets/haven.png');
}

#split {
    background-image: url('../assets/split.png');
}