@font-face {
    font-family: 'VALORANT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('../assets/Valorant Font.woff') format('woff');
}

.sideSelectContainer {
    background-color: #ff4255;
    width: 1200px;
    color: black;
    border-radius: 20px;
    padding-bottom: 36px;
    padding-right: 24px;
    padding-left: 24px;
}

.sideSelectHeader {
    font-family: 'VALORANT Regular';
    color: white;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
}

.sideCard {
    height: 400px;
    width: 50%;
    background-color: #0F1825;
    flex-wrap: wrap;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 10px;
}

.sideCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.sideCard:hover, a.sideCard:focus {
    /* height: 450px; */
    cursor: pointer;
    text-decoration: none;
}

.sideHeaderContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'VALORANT Regular';
    color: white;
    margin-top: 24px;
}

.sideHeader, h2.sideHeader:hover, h2.sideHeader:focus {
    font-family: 'VALORANT Regular';
    text-decoration: none;
    text-decoration-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.sideBackButton {
    font-family: 'VALORANT Regular';
    background-color: #ff4255;
    color: black;
    margin-left: 12px;
    margin-top: 24px;
    border-radius: 20px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    border: 2px solid black;
}

a.sideBackButton:hover, a.sideBackButton:focus {
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
}

.sideHeaderContainer {
    display: flex;
}

.sideBackButton:hover {
    background-color: #E6E6E6;
}

#defenseHeader {
    color: blue;
}

#attackHeader {
    color: red;
}

/* Side Card Images */

#blueSide {
    background-image: url('../assets/blueSide.png');
}

#redSide {
    background-image: url('../assets/redSide.png');
}